/* josf.css */

body {
   background:#c1d9c8  no-repeat;
   font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	font-style: normal;
	width:100%;
}

h1 {
   color: black;
	font-size: 24pt;
	font-weight: normal;
	font-style: normal;	
	text-shadow: 8px 11px 38px black;
}

h2 {
   color: black;
	font-size: 20pt;
	font-weight: normal;
	font-style: normal;
}

h3 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 16pt;
	font-weight: normal;
	font-style: normal;	
}

#display {
	background-color:#000000;
	border: 2px solid #c3c3c3; 
	cursor: default;
}

.normal_button {
	width: 100px;
}

#footerText {
   color: black;
   font-family: Arial, Helvetica, sans-serif;
	 font-size: 8pt;
   text-align: center;

}
#divMain{
	margin-bottom: 30px;
}
#divMemDisplay {
	width:400px;
	height:250px;
	overflow:scroll;
}

#divDiskDisplay {
	width:400px;
	height:250px;
	overflow:scroll;
}

table {
	background:#d8f5e4;
}

#memTable {
	width:400px;
	height: 800px;
}
#diskTable {
	width:400px;
	height: 800px;
}
#diskTable td:last-child {
	font-size: 12px;;
}
#cpuTable{
	margin-top: 5px;
	width:400px;
}
table tr:first-child th:first-child{
	background: #b1c9b8;
}
table td{
	border: #b1c9b8 solid 1px;
}
table th{
	border: #b1c9b8 solid 1px;
}
#pcbTable{
	margin-top: 5px;
	width:400px;
}
#rqTable{
	margin-top: 5px;
	height: 100px;
	width:400px;
}
